.App {
  text-align: center;
  border: solid;
  font-size: 125%;
  margin: auto;
  padding: auto;
  background: rgb(143, 142, 160);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(170,255,248,1) 0%, rgba(88,255,155,1) 100%);

}

.timeButton{
  width: 75px;
  height: 75px;
  border-radius: 30%;
  font-size: 175%;
}

.showtime {
  margin: -60px;
  font-size: 120%;
}

.minutes{
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 135%;
  
}

.seconds{
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 135%;


}

.resume {
  display:flex;
  justify-content: space-around;
  margin-top: 30px;
  
  
}

.reset {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
  
}

.resumeButton {
  font-size: 300%;
  border-radius: 30%;

}

.resetButton {
  font-size: 200%;
  margin-bottom: 10px;
  border-radius: 30%;

}

.largerFont {
  font-size: 5em;
}

.plusButton{
  margin: 10px;
}

.minusButton{
  margin: 10px;

}