.App {
  
  text-align: center;
  border: solid;
  font-size: 100%;
  margin: auto;
  padding: auto;
  background-size: cover;
  background: rgb(143, 142, 160);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(170,255,248,1) 0%, rgba(88,255,155,1) 100%);

}

.timeButton{
  width: 95px;
  height: 95px;
  border-radius: 30%;
  font-size: 165%;
}

.showtime {
  margin: -50px;
  font-size: 125%;
}

.minutes{
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 140%;
  
}

.seconds{
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 140%;


}

.resume {
  display:flex;
  justify-content: space-around;
  margin-top: 45px;
  
  
}

.reset {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  
}

.resumeButton {
  font-size: 320%;
  border-radius: 30%;

}

.resetButton {
  font-size: 220%;
  margin-bottom: 20px;
  border-radius: 30%;

}

.largerFont {
  font-size: 5em;
}

.plusButton{
  margin: 15px;
}

.minusButton{
  margin: 15px;

}