.App {
  
  text-align: center;
  border: solid;
  font-size: 100%;
  margin: 0;
  padding: 0;
  
}

.setBreakBeginning{

  font-size: .3em;


}

.breakSet{
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.timeButton{
  width: 95px;
  height: 95px;
  border-radius: 30%;
  font-size: 170%;
}

.showtime {
  margin: -50px;
  font-size: 135%;
}

.minutes{
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 140%;
  
}

.seconds{
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 140%;


}

.resume {
  display:flex;
  justify-content: space-around;
  margin-top: 45px;
  
  
}

.reset {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  
}

.resumeButton {
  font-size: 320%;
  border-radius: 30%;

}

.resetButton {
  font-size: 220%;
  margin-bottom: 20px;
  border-radius: 30%;

}

.largerFont {
  font-size: 5em;
}

.plusButton{
  margin: 15px;
}

.minusButton{
  margin: 15px;

}

.tex {
  font-size: 130%;
}